.container {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  background-color: rgb(61, 56, 56);
  color: white;
  font-size: 60px;
}

.display {
  height: 200px;
  padding: 20px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  box-sizing: border-box;
}

.display-text{
  background-color: rgb(61, 56, 56);
  color: white;
  font-size: 50px;
  text-align: right;
  width: 500px;
  border: none;
}

.buttons {
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  justify-content: flex-end;
  padding-right: 20px;
  padding-bottom: 20px;
  box-sizing: border-box;
}

button{
  box-sizing: border-box;
  width: 16%;
  font-size: 20px;
  color: white;
  background-color: grey;
  border: none;
  border-radius: 35% / 50%;
}

.keyboard-mode,.digit{
  background-color: rgb(107, 102, 102);
}

.operator,.equal-sign{
  background-color: orange;
}

button:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}